/* =========== Footer ============ */

@media screen and (max-width: 767px) {
  .footer-form-wrapper {
    display: flex;
    flex-direction: column;
  }

  .footer-form {
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: center;
  }

  .footer-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .footer-second-container {
    margin-bottom: 72px;
  }

  .footer-first-container {
    margin-bottom: 72px;
  }
}

.footer-container {
  width: 100%;
}

.footer-logo {
  display: inline-block;
  margin-bottom: 18px;
}

.footer-logo-part {
  color: #f4f4fd;
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.footer-text {
  color: #f4f4fd;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;

  width: 264px;
  text-align: left;
}

.footer {
  padding: 96px 0;
}

.footer-background {
  background: #2e2f42;
}

.footer-social-links-item {
  height: 40px;
  width: 40px;
}

.footer-text-title {
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 16px;
}

.footer-list {
  display: flex;
  gap: 16px;
}

.footer-social-links-link {
  height: 100%;
  width: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-links-link:hover,
.footer-social-links-link:focus {
  background-color: #31d0aa;
}

@media screen and (min-width: 768px) {
  .footer-container {
    width: 584px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }

  .footer-first-container {
    margin-right: 24px;
  }

  .footer-form-input {
    max-width: 264px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1157px) {
  .footer-form-wrapper {
    margin-top: 72px;
  }
}

@media screen and (min-width: 1158px) {
  .footer {
    padding: 100px 0;
  }

  .footer-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .footer-first-container {
    margin-right: 120px;
  }

  .footer-second-container {
    margin-right: 80px;
  }
}
